DATABASE_PATH=/data/iptv-proxy.db
SESSION_SECRET=
INTERNAL_API_TOKEN=
UI_URL=http://localhost:3000/ui
APP_URL=http://localhost:8080
REDIS_ADDR=redis:6379
COOKIE_SECURE=true
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=
VPN_BYPASS_TCP_PORTS=3000,8080
VPN_CONNECT_TIMEOUT_SECONDS=45
